{% extends "base.html" %}
{% load static %}
{% block title %}Blog Post | Pet Heaven{% endblock %}

{% block content %}
    <section class="section parallax-container breadcrumb-media-content" data-parallax-img="{% static 'images/breadcrumbs-bg.jpg' %}">
        <div class="parallax-content breadcrumbs-custom context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                <h1 class="breadcrumbs-custom-title">{{ post.title }}</h1>
                <ul class="breadcrumbs-custom-path">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="#">{{ post.category }}</a></li>
                  <li class="active">{{ post.title|truncatewords:6}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    <section class="section section-lg bg-default">
        <div class="container">
          <div class="row">
            <div class="col-12">{% if post.featured_image %}
  <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="img-fluid rounded" />
{% endif %}
            </div>
          </div>
<div class="row row-50">
  <div class="col-12">
    <ul class="blog-post-meta">
      <li><a class="badge" href="#">{{ post.category }}</a></li>
      <li><span class="icon mdi mdi-clock"></span>{{ post.published_at|date:"F j, Y"}}</li>
      <li><span class="icon mdi mdi-eye"></span>345 views</li>
    </ul>
    <!-- <h3 class="blog-post-title">How to Make Your Wedding Dress Even More Amazing: Tips from Our Team</h3>-->
    <div class="blog-post-content">
        {{ post.content|safe }}
    </div>
  </div>
</div>



          <div class="row">
            <div class="col-12">
              <div class="blog-post-share text-lg-end">
                <ul class="list-inline">
                  <li class="thin-title">Share post</li>
                  <li><a class="icon icon-sm fa-facebook" href="#"></a></li>
                  <li><a class="icon icon-sm fa-instagram" href="#"></a></li>
                  <li><a class="icon icon-sm fa-twitter" href="#"></a></li>
                  <li><a class="icon icon-sm fa-youtube-play" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    <section class="section section-lg bg-default">
        <div class="container">
          <h3 class="text-center">Related Posts</h3>
          <div class="row">
            <div class="col-12">
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-loaded" data-items="1" data-md-items="2" data-lg-items="3" data-dots="true" data-nav="false" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false" style="">



              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 1200px; padding-left: 15px; padding-right: 15px;"><div class="owl-item active" style="width: 360px; margin-right: 30px;"><div class="post-classic">
                  <div class="post-classic-figure"><a href="#">{% if post.featured_image %}
  <img src="{{ post.featured_image.url }}"  width="370" height="255" style="object-fit: cover; display: block;"/>
{% endif %}</a></div>
                  <div class="post-classic-caption">
                    <h4 class="post-classic-title"><a href="#">{{ post.title}}</a></h4>
                    <ul class="post-classic-meta">
                      <li>{{ post.published_at|date:"F j, Y"}}</li>
                      <li><a class="post-classic-tag-secondary-2 post-classic-tag" href="#">{{ post.category }}</a></li>
                    </ul>
                  </div>
                </div></div><div class="owl-item active" style="width: 360px; margin-right: 30px;"><div class="post-classic">
                  <div class="post-classic-figure"><a href="#">{% if post.featured_image %}
  <img src="{{ post.featured_image.url }}"  width="370" height="255" style="object-fit: cover; display: block;"/>
{% endif %}</a></div>
                  <div class="post-classic-caption">
                    <h4 class="post-classic-title"><a href="#">{{ post.title}}</a></h4>
                    <ul class="post-classic-meta">
                      <li>{{ post.published_at|date:"F j, Y"}}</li>
                      <li><a class="post-classic-tag-secondary post-classic-tag" href="#">{{ post.category }}</a></li>
                    </ul>
                  </div>
                </div></div><div class="owl-item active" style="width: 360px; margin-right: 30px;"><div class="post-classic">
                  <div class="post-classic-figure"><a href="#">{% if post.featured_image %}
  <img src="{{ post.featured_image.url }}"  width="370" height="255" style="object-fit: cover; display: block;"/>
{% endif %}</a></div>
                  <div class="post-classic-caption">
                    <h4 class="post-classic-title"><a href="#">{{ post.title}}</a></h4>
                    <ul class="post-classic-meta">
                      <li>{{ post.published_at|date:"F j, Y"}}</li>
                      <li><a class="post-classic-tag" href="#">{{ post.category }}</a></li>
                    </ul>
                  </div>
                </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"></button></div><div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div></div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
